# Ignore the HELP.md file in the root directory
HELP.md

# Ignore everything in the target/ directory
target/

# Except for maven-wrapper.jar in the .mvn/wrapper directory
!.mvn/wrapper/maven-wrapper.jar

# Except for target directories under src/main and src/test directories
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
